.info-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.info-panel__title {
  color: var(--main-blue);
  text-align: center;
}

.info-panel__value {
  color: var(--main-red);
}

@media screen and (max-width: 1150px) {
  .info-panel__title {
    font-size: 16px;
  }
}

